
/*RESET*/

body {
    font-family: Arial, sans-serif;
}

/*COMMON*/

ul {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: white;
}

.btn_radius {
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    display: inline-block;
}

.btn_red {
    background-color: rgb(205, 61, 15);
}

p {
    font-weight: bold;
}


/*header*/

header {
    font-family: Helvetica, arial, sans-serif;
}

/*Sony-logo*/

.back-black {
    background-color: black;
    text-align: right;
}

.logo {
    width: 80px;
    margin: 10px;
}

/*main-menu*/

.fixed_menu {
    padding-top: 1rem;
}

.play_logo {
    margin-left: -1rem;
}

.flex_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger_menu {
    font-size: 30px;
    margin-right: 1rem;
}

.f_small {
    font-size: small;
    color: gray;
}

.btn_black {
    background-color: rgb(54, 54, 54);
}

.padd {
    padding-right: 1rem;
}

/*main*/

/*section-returnal*/

.back_img {
    background-image: url(img/img/returnal-listing-thumb-01-ps5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 700px;
}

.logo-returnal {
    width: 13rem;
}

.returnal-text {
    max-width: 720px;
}

/*section-cards*/

.ms_border {
    border: 1px solid blue;
    border-radius: 10px;
}