
/*RESET*/

body {
    font-family: Arial, sans-serif;
}

/*COMMON*/

ul {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: white;
}

main a {
    text-decoration: none;
}

.f_small {
    font-size: small;
}

.ms_gray {
    color: gray;
}

.img_small {
    width: 25px;
}

.btn_radius {
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    display: inline-block;
    color: white;
}

.btn_red {
    background-color: rgb(205, 61, 15);
}

p {
    font-weight: 450;
}

.card {
    border: transparent;
}

.text_blue {
    color: blue;
}

.big_title {
    font-size: 35px;
    font-weight: 400;
}

.btn_blue {
    background-color: rgb(45, 100, 230);
}

.px_10 {
    font-size: 10px;
}

/*header*/

header {
    font-family: Helvetica, arial, sans-serif;
}

/*Sony-logo*/

.back-black {
    background-color: black;
    text-align: right;
}

.logo {
    width: 80px;
    margin: 10px;
}

/*main-menu*/

.fixed_menu {
    padding-top: 1rem;
}

.play_logo {
    margin-left: -1rem;
}

.flex_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger_menu {
    font-size: 30px;
    margin-right: 1rem;
}

.btn_black {
    background-color: rgb(54, 54, 54);
}

.padd {
    padding-right: 1rem;
}

/*main*/

/*section-jumbotron*/

.back_img {
    background-image: url(img/img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 700px;
    margin-bottom: 20px;
    position: relative;
}

.logo-returnal {
    width: 18rem;
}

.returnal-text {
    max-width: 720px;
    position: absolute;
    bottom: 40px;
}

/*section-cards*/

.ms_border {
    border: 3px solid white;
    outline: 2px solid blue;
    box-sizing: border-box;
    border-radius: 10px;
}

/*section-console*/

.thumb-img {
    width: 100%;
}

/*section-takes-two*/

.back_takes_two {
    background-image: url(img/img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 700px;
    margin-bottom: 20px;
}

/*section-news*/

.ms_rounded {
    border-radius: 20px;
}

/*section-explore*/

.ms_circle {
    font-size: 15px;
    border: 1px solid;
    border-radius: 50%;
}

.ms_style {
    width: 30rem;
}

/*section-plus*/

.back_lightgray {
    background-color: rgb(190, 188, 187);
}

.btn_white {
    background-color: rgb(217, 218, 220);
    color: blue;
}

.logo-plus {
    width: 20rem;
    margin: 20px;
}

/*section-PSNow*/

.back_blue {
    background-color: rgb(22, 28, 59);
    color: white;
}

.btn_now {
    background-color: white;
    color: black;
}

/*MEDIA-QUERY*/

@media screen and (min-width: 768px) {

    .ms_style {
       width: 23rem;
    }

    .text_max {
        margin: 17rem;
    }

    .logo-plus {
        width: 15rem;
        margin: 15px;
    }

}

@media screen and (min-width: 1200px) {

    .returnal-text {
        max-width: 420px;
    }

    .takestwo-text {
        max-width: 420px;
    }

    .plus-img {
        width: 600px;
    }

    .logo-plus {
        width: 20rem;
        margin: 20px;
    }

    .ms_padding {
        padding-top: 8rem;
    }

    .ms_left {
        padding-left: 15rem;
    }

}