
/*RESET*/

body {
    font-family: Arial, sans-serif;
}

/*header*/

header {
    font-family: Helvetica, arial, sans-serif;
}

.back-black {
    background-color: black;
}

.back_menu {
    background-color: aqua;
}

.logo {
    width: 70px;
}